# Windows Zone.Identifier files
*Zone.Identifier
*:Zone.Identifier
__pycache__/
*.pyc
*.pyo
*.pyd
.env
nohup.out
.venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl

# K8s secrets
kubernetes/agent-secret.yaml